# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
sysvenv/
.venv/

# VS Code / PyCharm
.vscode/
.idea/

# Django / Flask
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# Backup / temp files
*.bak
*.swp
*.tmp
